# Ignoruj SQLite
Project_demo/sqlite/*.c linguist-vendored
Project_demo/sqlite/*.h linguist-vendored

# Wymuś rozpoznanie C++
Project_demo/*.cpp linguist-language=C++
Project_demo/*.h linguist-language=C++
